*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
body {
    background: linear-gradient(#87f0e2,#8e87f0,#eeeeee,#eeeeee,#eeeeee);
}
header h1 {
    margin: -10px 0px 3px 0px;
    font-family: 'Fredoka One', regular;
    text-align: center;
    font-size: 200px;
    color: #000000b6;
}

header p {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-size: 15px;
    color: #000000b6;
    



}
header h2 {
    margin: -25px 0px 50px 0px;
    font-family: 'Fredoka One', regular;
    text-align: center;
     font-size: 150px;
     color: #000000b6;
}

.pads{

    width: 100%;  
    display: flex;
    cursor: pointer;
}
.pads > div{
    height: 500px;
    width: 100px;
    flex: 1;
    border-radius: 25px;
}

.pad1{
    background: radial-gradient(#1000f7,#1000f7,#1000f775);
}
.pad2{
    background: radial-gradient(#f1cfe7,#f1cfe7,#f1cfe791);
}
.pad3{
    background: radial-gradient(#fffb09,#fffb09,#fffb0948);
}
.pad4{
    background: radial-gradient(#547cff,#547cff,#547cff60);
}
.pad5{
    background: radial-gradient(#ff3c00,#ff3c00,#ff3c004f);
}
.pad6{
    background: radial-gradient(#daeba8,#daeba8,#daeba886);
}

.visual > div{

    
    position : absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    bottom: 0px;
    left: 20%; 
    z-index: -1;

}
@keyframes jump{
    0%{
        bottom: 20%;
        left: null;


    }
    50%{
        bottom: 90%;
        left: null;

    }
    100%{
        bottom: 20%;
        left: null;

    }
}

